[submodule "submodules/QuestieDev"]
	path = submodules/QuestieDev
	url = https://github.com/AeroScripts/QuestieDev
[submodule "submodules/aux-addon"]
	path = submodules/aux-addon
	url = https://github.com/shirsig/aux-addon
[submodule "submodules/aux_merchant_prices"]
	path = submodules/aux_merchant_prices
	url = https://github.com/shirsig/aux_merchant_prices
[submodule "submodules/Mapster"]
	path = submodules/Mapster
	url = https://github.com/Nevcairiel/Mapster
[submodule "submodules/Mail"]
	path = submodules/Mail
	url = https://github.com/shirsig/Mail
[submodule "submodules/AutoShot"]
	path = submodules/AutoShot
	url = https://github.com/deadmeu/AutoShot
[submodule "submodules/Gatherer"]
	path = submodules/Gatherer
	url = https://github.com/jsb/Gatherer
